body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #127ba4;
    color: #333;
}

#map-container {
    margin: 20px;
    border: 2px solid black;
    display: inline-block;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

#map {
    width: 100%;
    height: 100%;
    background-color: #1e3c72;
    background-image: linear-gradient(to top, #2a5298, #1e3c72);
}

.tooltip {
    position: absolute;
    text-align: left;
    width: auto;
    padding: 10px;
    font: 12px sans-serif;
    background: rgba(255, 255, 255, 0.9);
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    pointer-events: none;
}

.tooltip h2 {
    margin: 0;
    font-size: 16px;
}

.country:hover {
    fill: orange;
    cursor: pointer;
}

#ranking-container {
    margin: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#ranking-table {
    width: 100%;
    border-collapse: collapse;
}

#ranking-table th, #ranking-table td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

#ranking-table tbody tr {
    transition: all 0.3s ease;
}

#ranking-table tbody {
    position: relative;
}

#ranking-table tbody tr {
    /* position: absolute; */
    width: 100%;
    transition: transform 0.5s ease;
}

.country-stats {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: white;
    border: 1px solid black;
    padding: 10px;
    border-radius: 5px;
    width: 300px;
    max-height: 90vh;
    overflow-y: auto;
}

.country-stats h2 {
    margin-top: 0;
}